/* 
Base CSS for Ghinda.net
*/

body {
	background: url(../images/wood-pattern.jpg); 
	color: #ffc994;
}

h1, h2, h3 {
	font-family: 'Plantagenet Cherokee', Garamond, 'Times New Roman', serif;
}

a {
	color: #ca7c2f;
	text-decoration: underline;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}

/*header */

header {
	display: block;
	width: 320px;
	height: 230px;
	padding-left: 230px;
	padding-top: 50px;
	margin: 50px auto 20px auto;	
	background: url(../images/big-ghinda.png) no-repeat left top;
}

header h1 {
	display: block;
	width: 280px;
	height: 95px;
	margin-bottom: 25px;
	background: url(../images/ghinda-type-title.png) no-repeat center;
	
	text-indent: -9999px;
}

header h3 {
	color: #ffc994;
	font-size: 1.5em;
	font-weight: normal;
}

header p {
	overflow: hidden;
}

header .follow {
	float: left;
	padding-top: 5px;
	padding-right: 10px;
}

header .twitter, header .behance {
	dispaly: block;
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 5px;
	background: url(../images/twitter-icon.png) no-repeat;
	
	text-indent: -9999px;
}

 header .behance {
 	background: url(../images/behance-icon.png) no-repeat;
 }