/* ghinda.net
 */

/* Bourbon
 */
@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';

/* Globals
 */
$color1: #AD3C00;
$color2: #AA2F76;
$white: #fff;
$black: #333;


/* Foundation
 */
$primary-color: $color1;
$button-border-width: 0px;

@import '../bower_components/foundation/scss/foundation';
@import 'ie8-grid-foundation-4';

/* Utils
 */
@import "utils";

/* Themes
 */
@import 'themes';

/* Syntax Highlighter
 */
@import 'syntax';

/* BrowseHappy
 */
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Main
 */

body {
	padding-top: emCalc(60);

	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: emCalc(32);
}

h2 {
	font-size: emCalc(24);
}

.row {
	max-width: emCalc(540);
}

a {
	border-bottom: 1px solid transparent;

	&:hover {
		border-color: lighten($color1, 50%);
	}
}

code {
	color: darken($color1, 10%);
}

article {
	padding-bottom: emCalc(40);
}

/* Header
 */

header {
	position: relative;
	padding-bottom: emCalc(60);

	.columns {
		position: relative;
		z-index: 2;
		vertical-align: baseline;
	}

	h1 {
		margin: 0;

		font-size: emCalc(24);
		letter-spacing: emCalc(-0.1);

		img {
			margin-right: emCalc(16);
			height: emCalc(32);
		}

		a {
			border: 0;
			white-space: nowrap;
		}
	}

	.inline-list {
		margin: 0;
		padding-top: emCalc(20);

		a {
			color: $black;
			font-weight: 600;
			font-size: emCalc(12);
			text-transform: uppercase;

			&:hover {
				color: lighten($black, 10%);
			}
		}
	}

	.hover-bubble {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		display: block;
		width: emCalc(64);
		height: emCalc(64);
		margin-top: emCalc(-8);
		background-color: $color1;

		border-radius: 50%;
	}

}

/* Home
 */

.posts {

	li {
		margin-bottom: emCalc(16);
	}

	time {
		color: lighten($black, 10%);
		font-size: emCalc(12);
	}

}

/* Post view
 */

.post {

	time {
		color: lighten($black, 10%);
	}
}

/* Promo
 */
.promo {
	padding: emCalc(40) 0;
	margin-bottom: emCalc(40);
	border-style: solid;
	border-width: 1px 0;
	border-color: lighten($color1, 50%);

	p {
		font-size: emCalc(14);
	}

	li {
		padding-bottom: 0;

		text-align: center;
	}

	li img {
		display: block;
		margin: 0 auto;
	}
}

/* Footer
 */
footer {
	padding-bottom: emCalc(40);

	.footer-links {
		overflow: hidden;

		a:first-child {
			padding-right: emCalc(16);
		}
	}

	p {
		font-size: emCalc(12);
	}
}
