---
---

/* ghinda.net
*/

/* 3rd party
*/
@import '../node_modules/normalize.css/normalize.css';

/* Globals
*/
$color1: #AD3C00;
$black: #333;

/* Imports
*/
@import 'utils';
@import 'syntax';
@import 'jotted';

/* Main
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: emCalc(60) emCalc(12);

  line-height: 1.6;
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oxygen', sans-serif;
}


h1 {
  margin: 0 0 emCalc(12);

  font-size: emCalc(48);
  font-weight: 300;
  line-height: 1em;
}

h2 {
  margin: 0 0 emCalc(4);

  font-size: emCalc(24);
}

h3 {
  margin: 0 0 emCalc(4);
}

p,
blockquote {
  margin: 0 0 emCalc(16);
}

a {
  border-bottom: 1px solid transparent;

  color: $color1;
  text-decoration: none;

  &:hover {
    border-color: lighten($color1, 50%);
  }
}

code {
  color: darken($color1, 10%);
}

article {
  padding-bottom: emCalc(40);
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  display: block;
  overflow: hidden;
  padding: 0 emCalc(8) 0 emCalc(28);
  border-left: 5px solid lighten($color1, 48%);

  color: lighten($black, 20%);
}

blockquote p {
  margin: 0;
}

.container-page {
  max-width: emCalc(560);
  margin: 0 auto;
}

/* Header
*/

.header-main {
  @include clearfix;
  position: relative;
  padding: 0 0 emCalc(60);
  margin: 0 0 0 emCalc(-20);

  h1 {
    margin: 0;

    font-size: emCalc(24);
    letter-spacing: emCalc(-0.1);
    vertical-align: middle;

    @include breakpoint(papa-bear) {
      float: left;
    }

    a {
      border: 0;

      white-space: nowrap;
    }
  }

  nav {
    padding-left: emCalc(76);
    padding-top: emCalc(20);

    @include breakpoint(papa-bear) {
      float: right;
      padding-top: 0;
      padding-left: 0;
    }
  }

  ul {
    overflow: hidden;
    margin: 0;
    padding: emCalc(10) 0 0;
    list-style-type: none;

    li {
      float: left;
    }

    a {
      padding: emCalc(4) emCalc(16);

      color: $black;
      font-weight: 600;
      font-size: emCalc(12);
      text-transform: uppercase;

      transition: color 0.3s;

      &:hover {
        border: 0;

        color: #fff;
      }
    }
  }

  a {
    position: relative;
    z-index: 2;
  }
}

.hover-bubble {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  width: emCalc(66);
  height: emCalc(66);
  margin-top: emCalc(-12);
  background-color: $color1;
  border-radius: 50%;

  transition: all 0.32s cubic-bezier(0.175, 0.885, 0.320, 1.175);
  transition-delay: 0.1s;
}

.hover-bubble--nav {
  border-radius: emCalc(20);
}

.hover-bubble--nav + h1 .icon-ghinda-logo {
  margin-right: emCalc(8);
}

.hover-bubble--nav + h1 .icon-ghinda-logo path {
  fill: $color1;
}

.icon-ghinda-logo {
  display: inline-block;
  width: emCalc(20);
  height: emCalc(28);
  margin: 0 emCalc(20) 0 emCalc(13);

  vertical-align: middle;
}

.icon-ghinda-logo path {
  fill: #fff;
}

.icon-ghinda-logo,
.icon-ghinda-logo path {
  transition: all 0.24s;
}

/* Home
*/

.posts {
  padding: 0;
  list-style-type: none;

  li {
    margin-bottom: emCalc(16);
  }

  time {
    color: lighten($black, 10%);
    font-size: emCalc(12);
  }

}

/* Post view
*/

.post {

  time {
    color: lighten($black, 10%);
    font-size: emCalc(12);
  }
}

/* Promo
*/
.promo {
  padding: emCalc(28) 0;
  margin-bottom: emCalc(40);
  border-style: solid;
  border-width: 1px 0;
  border-color: lighten($color1, 50%);

  p {
    margin: 0;

    font-size: emCalc(14);
  }

  > p {
    margin: 0 0 emCalc(20);
  }

  ul {
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 -3.33%;
    list-style-type: none;
  }

  li {
    float: left;
    width: 33.33%;
    padding-left: 3.33%;

    text-align: center;
  }

  img {
    display: block;
    width: 100%;
    margin: 0 auto emCalc(8);
  }
}

.promo--alt a {
  max-width: 100%;
}

.promo--alt img {
  margin: 0;
}

.promo--alt li:first-child a {
  padding: 0;
}

.promo--alt li:first-child a:hover {
  border-color: transparent;
}

.promo--alt li:last-child {
  width: 66.66%;

  text-align: left;
}

/* Footer
 */
footer {
  padding-bottom: emCalc(40);
}

footer p {
  font-size: emCalc(12);
}

.footer-links {
  overflow: hidden;
}

.footer-links a:first-child {
  display: inline-block;
  margin-right: emCalc(16);
}

/* Themes
 */

@import 'themes';
