/* Post themes
 */

/* Webmonkey
 */

.webmonkey {

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: emCalc(140);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #336699;
    border-bottom: 3px solid #FFFF66;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: emCalc(112);
    position: absolute;
    top: emCalc(140);
    left: 0;
    z-index: -1;
    background-color: #FF9900;
    border-bottom: 2px solid #663300;
  }

  article h1 {
    position: relative;
    margin-bottom: emCalc(20);

    color: #FFFF66;

    &:before {
      content: '';
      display: block;
      width: 131px;
      height: 135px;
      position: absolute;
      left: -140px;
      top: -56px;
      background: url(../images/themes/webmonkey.png);
    }
  }

  header a {
    color: #fff;
  }

  .hover-bubble {
    background: #fff;
  }

  header ul a:hover {
    color: #336699;
  }

  .icon-ghinda-logo path {
    fill: #336699;
  }

  .hover-bubble--nav + h1 .icon-ghinda-logo path {
    fill: #fff;
  }

}


/* Gmail right-tasks
 */

.gmail-righttasks {

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: emCalc(140);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #2D3E50;
  }

  article h1 {
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 36px;
      height: 28px;
      position: absolute;
      left: -60px;
      top: 12px;
      background: url(../images/themes/gmail-righttasks.png) no-repeat;
    }
  }

  header a {
    color: #fff;
  }

  .hover-bubble {
    background: #fff;
  }

  header ul a:hover {
    color: #2D3E50;
  }

  .icon-ghinda-logo path {
    fill: #2D3E50;
  }

  .hover-bubble--nav + h1 .icon-ghinda-logo path {
    fill: #fff;
  }

}

/* Angular
 */

.theme-angular {
  @include linear-gradient(#F5F5F5, #fff 2%);
}

.theme-angular a {
  color: #A6120D;
}

.theme-angular .hover-bubble--nav + h1 .icon-ghinda-logo path {
  fill: #DD1B16;
}

.theme-angular .hover-bubble {
  background: transparent;
  border-radius: 0;
}

.theme-angular .hover-bubble:before,
.theme-angular .hover-bubble:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 55%;
  height: 100%;

  border-style: solid;
  border-width: 3px 0 3px 3px;
  border-color: #B3B3B3;
}

.theme-angular .hover-bubble:before {
  background: #DD1B16;

  @include transform(
    perspective(100px)
    rotateY(-45deg)
    rotateX(-14deg)
    skewX(-9deg)
  );
}

.theme-angular .hover-bubble:after {
  left: auto;
  right: 2px;
  background: #A6120D;
  border-width: 3px 3px 3px 0;

  @include transform(
    perspective(100px)
    rotateY(45deg)
    rotateX(-14deg)
    skewX(9deg)
  );
}

.theme-angular .hover-bubble--nav:before,
.theme-angular .hover-bubble--nav:after {
  border-width: 0;
}

/* ripple
 */

@keyframes ripple {
  0% {
    opacity: .2;
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  80% {
    opacity: 0;
    transform: scale(1);
  }
}

.theme-ripple .hover-bubble {
  background: #3f51b5;
}

.theme-ripple .hover-bubble:not(.hover-bubble--nav):after {
  content: '';
  position: absolute;
  left: emCalc(-18);
  top: emCalc(-16);
  display: block;
  width: emCalc(100);
  height: emCalc(100);
  background: #3f51b5;
  border-radius: 100%;
  opacity: 0;

  animation: ripple 5s ease-out infinite;
}

.theme-ripple .header-main a {
  color: #3f51b5;
}

.theme-ripple .hover-bubble--nav + h1 .icon-ghinda-logo path {
  fill: #3f51b5;
}
