---
layout: default
---

<article class="post">
  <time itemprop="dateCreated" datetime="{{ page.date }}">
    {{ page.date | date_to_string }}
  </time>

  <h1>{{ page.title }}</h1>

  {{ content }}
</article>


<section class="promo">

  <p>If any of my work has been helpful, consider buying some of my stuff on the <a href="//codecanyon.net/user/ghinda?ref=ghinda" rel="external">Envato Marketplaces.</a> </p>

  <ul>
    <li>
      <a href="//codecanyon.net/item/accordion-gallery/137314?ref=ghinda">
        <img src="//s3.envato.com/files/1296743/accordion-gallery-thumb.png">
        Accordion Gallery
      </a>
    </li>
    <li>
      <a href="//themeforest.net/item/blue-business-business-theme-5-color-schemes/59734?ref=ghinda">
        <img src="//s3.envato.com/files/174996.jpg">
        Blue Business
      </a>
    </li>
    <li>
      <a href="//themeforest.net/item/the-seasons-autumn/69645?ref=ghinda">
        <img src="//s3.envato.com/files/206415.jpg">
        Autumn
      </a>
    </li>
  </ul>

</section>
