---
layout: default
---
<article>
	<h1>{{ page.title }}</h1>
	{{ content }}
</article>

<footer role="contentinfo">
	<time datetime="{{ page.date}}">{{ page.date | date_to_string }}</time>		
	<section>
		<h2>Filled under</h2>		
		<ul class="posts">
		{% for category in page.categories %}
			<li>
				<a href="/categories/{{ category }}/">{{ category }}</a>				
			</li>
		{% endfor %}
		</ul>		
	</section>
	
	<section>
		<h2>Related posts</h2>
		<ul class="posts">
		{% for post in site.related_posts limit:5 %}
			<li>
				<a href="{{ post.url }}">{{ post.title }}</a>
				<time datetime="{{ post.date}}">{{ post.date | date_to_string }}</time>
			</li>
		{% endfor %}
		</ul>		
	</section>
		
</footer>
