---
layout: default
---

<article class="post">
  <time itemprop="dateCreated" datetime="{{ page.date }}">
    {{ page.date | date_to_string }}
  </time>

  <h1>{{ page.title }}</h1>

  {{ content }}
</article>


<section class="promo promo--alt">
  <ul>
    <li>
      <a href="https://templates.gorgias.io/">
        <img src="/images/gorgias-templates-promo.svg">
      </a>
    </li>
    <li>
      <p>
        Write everything faster with
        <a href="https://templates.gorgias.io/">
          Gorgias Templates
        </a>
      </p>
  </ul>
</section>
