---
layout: default
---

<article>

  <h1>{{ page.title }}</h1>

  {{ content }}

</article>

<section class="promo">
  <p>Check out some of my projects: </p>

  <ul>
    <li>
      <a href="//ghinda.net/acornmediaplayer/">
        <img src="/images/acorn-media-player-thumb.svg">
        Acorn Media Player
      </a>
    </li>
    <li>
      <a href="//bizcardmaker.com/">
        <img src="/images/business-card-maker-thumb.svg">
        Business Card Maker
      </a>
    </li>
    <li>
      <a href="//ghinda.net/css-toggle-switch/">
        <img src="/images/css-toggle-switch-thumb.svg">
        CSS Toggle Switch
      </a>
    </li>
  </ul>
</section>
