---
layout: default
---

<article class="row">
	<div class="large-12 columns">
		<h1>{{ page.title }}</h1>
		{{ content }}
	</div>
</article>

<section class="promo row">
	<div class="large-12 columns">
		<p>Some of my projects </p>

		<ul class="small-block-grid-3">
			<li>
				<a href="#">
					<img src="../img/demos/demo1.png">
					Business Card Maker
				</a>
			</li>
			<li>
				<a href="#">
					<img src="../img/demos/demo1.png">
					CSS Toggle Switch
				</a>
			</li>
			<li>
				<a href="#">
					<img src="../img/demos/demo1.png">
					Acorn Media Player
				</a>
			</li>
		</ul>

	</div>
</section>
